body {
    background-color: #4ba700;
}

#radioBtns {
    color: #f0f0f0;
    font-size: 1.2em;
    margin: 15px 0;
}

#convert {
    margin: 0 0 15px 0;
    font-size: 1.2em;
}

#result {
    color: #f0f0f0;
    font-size: 1.5em;
    border: 1px solid black;
    width: 250px;
    height: 30px;
    text-align: center;
}